#Sqlite File
*sqlite_backend.db

.DS_Store
node_modules
dist


# local env files
.env.local
.env.*.local

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter Checkpoints
*.ipynb_checkpoints

# Other Python
*__pycache__
